<a href="https://colab.research.google.com/github/drshahizan/Python_EDA/blob/main/Malaysia%20EDA/team%2016/Assignment_Pandas_Team16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Team 16</h1>

1.   Lee Jia Xian A20EC0200
2.   Lee Ming Qi  A20EC0064


## Assignment: Exploratory Data Analysis using Python

This is the starter notebook for the case study project. You will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project . Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

## Exploratory Data Analysis
According to Wikipedia, EDA “is an approach to analyzing datasets to summarize their main characteristics, often with visual methods”. In my own words, it is about knowing your data, gaining a certain amount of familiarity with the data, before one starts to extract insights from it.

Since EDA is such a crucial initial step for all data science projects, the lazy me decided to write a code template for performing EDA on structured datasets. The idea is to spend less time coding and focus more on the analysis of data itself. Scroll down to the bottom for the link to the code, but do read on to find out more about EDA and understand what the code does. More information related to EDA --> [Exploratory Data Analysis: A Practical Guide and Template for Structured Data](https://towardsdatascience.com/exploratory-data-analysis-eda-a-practical-guide-and-template-for-structured-data-abfbf3ee3bd9)


![EDA](https://drive.google.com/uc?export=view&id=1GUl7SVxNv_KUIUrDVa048SyqPUbn9w5M)


### Submission
1.   This exercise must be completed in pairs (2 students in a group).
2.   You need to send the *.pynb file. Make sure you have linked Google Colab with your dataset (Github). 
3.   Please link to your Google Colab file.<a href="https://www.utm.my" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
4.   Please submit it via e-learning.

### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 5 columns and 1500 rows of data
* You must ask and answer at least 5 questions about the dataset
* Your submission must include at least 5 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted from somewhere else.


Follow this step-by-step guide to work on your project.

### Step 1: Select a real-world dataset 

- The Malaysian dataset must be used for your case study.
- The dataset is available at:
  * [Portal Data Terbuka Malaysia](https://www.data.gov.my/data/ms_MY/dataset)
  * [Department of Statistics Malaysia](https://www.dosm.gov.my/v1/index.php?r=column3/accordion&menu_id=amZNeW9vTXRydTFwTXAxSmdDL1J4dz09)
  * [data.world](https://data.world/datasets/malaysia)
  * [Dataportal.asia](https://dataportal.asia/dataset?vocab_economy_names=Malaysia)
  *[knoema](https://knoema.com/atlas/Malaysia/datasets)
  *[The World Bank](https://data.worldbank.org/country/MY)
  * [Dataset Search - Google](https://datasetsearch.research.google.com/)
  * [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets.php)
  * [Kaggle datasets](https://www.kaggle.com/datasets)
  * [Awesome-public-datasets](https://github.com/awesomedata/awesome-public-datasets)
  * [Datahub.io](https://datahub.io/collections)
  * [Earthdata](https://www.earthdata.nasa.gov/)
  * [CERN Open Data Portal](http://opendata.cern.ch/)

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis

### Step 6: Make a submission

- Upload your notebook to e-learning.


### Example Projects

Refer to these projects for inspiration:

* [Malaysia Immunisation Progress](https://www.kaggle.com/code/koayhongvin/malaysia-immunisation-progress)

* [Malaysia Crop EDA](https://www.kaggle.com/code/nazihahnajla/malaysia-crop-eda)

* [ASEAN Democracy Index EDA](https://www.kaggle.com/code/aradinka/asean-democracy-index-eda)

* [Men's International Football Analysis](https://www.kaggle.com/code/rittickchakraborty/men-s-international-football-analysis) 

* [Data Science Job Salaries Analysis with Python](https://www.kaggle.com/code/muliasujiastuti/data-science-job-salaries-analysis-with-python)

* [Alteration in Technology and Job Role in 2022
](https://www.kaggle.com/code/summerakousar/alteration-in-technology-and-job-role-in-2022)

* [Data Cleaning Challenge: Inconsistent Data Entry](https://www.kaggle.com/code/melanieng/data-cleaning-challenge-inconsistent-data-entry#Get-our-environment-set-up)

**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Project Title - Exploratory Data Analysis (EDA) on Real Estate Kuala Lumpur Malaysia <a href="https://www.utm.my" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exploratory Data Analysis (EDA) is a crucial step in the data science process that involves analyzing and summarizing a dataset in order to better understand its characteristics and relationships.

In this project, we are going to perform EDA on dataset about Real Estate in Kuala Lumpur, Malaysia. The dataset can be found in Kaggle by clicking on this <a href="https://www.kaggle.com/datasets/thajegan76/real-estate-kuala-lumpur-malaysia">link</a>. By using this dataset, we would like to analyze the characteristics of real estate in Kuala Lumpur, Malaysia.

Throughout this project, the tools and techniques that will be used are Python libraries. We will be using **numpy** and **pandas** for data cleaning while **matplotlib.pyplot** and **seaborn** for data visualisation. 

This project is done by **Team QnX**:


1.   Lee Ming Qi (A20EC0064)
2.   Lee Jia Xian (A20EC0200)

## Downloading the Dataset

**TODO** - import the data directly from Kaggle to Google Colab


1. Go to your account, Scroll to API section and Click Expire API Token to remove previous tokens

2. Click on Create New API Token - It will download kaggle.json file on your machine.

3. Go to your Google Colab project file and run the following commands:

In [ ]:
#!pip install -q kaggle

In [ ]:
from google.colab import files

files.upload()

# Choose the kaggle.json file that you downloaded

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"leemingqi","key":"31677066beb23f6e38d3bbf1faeeacd8"}'}

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

# Make directory named kaggle and copy kaggle.json file there.

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

# Change the permissions of the file.

Let's begin by downloading the data, and listing the files within the dataset.

In [ ]:
!kaggle datasets download -d thajegan76/real-estate-kuala-lumpur-malaysia

Downloading real-estate-kuala-lumpur-malaysia.zip to /content
  0% 0.00/177k [00:00<?, ?B/s]
100% 177k/177k [00:00<00:00, 50.5MB/s]

In [ ]:
!kaggle datasets files thajegan76/real-estate-kuala-lumpur-malaysia

name                size  creationDate
-----------------  -----  -------------------
kl_properties.csv  950KB  2021-10-09 04:33:10

In [ ]:
#Unzip the data remove zip
!unzip real-estate-kuala-lumpur-malaysia.zip && rm real-estate-kuala-lumpur-malaysia.zip

Archive:  real-estate-kuala-lumpur-malaysia.zip
replace kl_properties.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

The dataset has been downloaded and extracted.

## Data Preparation and Cleaning

**TODO** - Write some explanation here.


> - Import the required Python libraries
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


> Import the required Python dependencies

In [ ]:
import numpy as np
import pandas as pd

> Load the dataset into a data frame using *Pandas*

In [ ]:
df = pd.read_csv("kl_properties.csv")

> View the first 5 rows of the dataframe

In [ ]:
df.head(5)

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
0,"M City Serviced Residence Jalan Ampang 886sf, ...",RM 690 000,AMPANG,Apartments,886 sq.ft.,2 Bedrooms,2 Bathrooms
1,Cheapest fully furnished suria jelatek residen...,RM 420 000,AMPANG,Apartments,858 sq.ft.,3 Bedrooms,2 Bathrooms
2,3bed 2bath Suria Jelatek Condo 5 min to LRT an...,RM 420 000,AMPANG,Apartments,860 sq.ft.,3 Bedrooms,2 Bathrooms
3,"[30% Below,1037sf] Direct Subsale not Auction!...",RM 568 444,AMPANG,Apartments,1037 sq.ft.,3 Bedrooms,2 Bathrooms
4,HOT area | Tiara Ampang | Near Ampang Point | ...,RM 618 000,AMPANG,Apartments,1650 sq.ft.,4 Bedrooms,2 Bathrooms

> Explore the number of rows & columns, ranges of values etc.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7791 entries, 0 to 7790
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      7791 non-null   object
 1   Price      7791 non-null   object
 2   Area       7791 non-null   object
 3   Category   7791 non-null   object
 4   Size       7791 non-null   object
 5   Bedrooms   7791 non-null   object
 6   Bathrooms  7791 non-null   object
dtypes: object(7)
memory usage: 426.2+ KB

In [ ]:
df.describe()

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
count,7791,7791,7791,7791,7791,7791,7791
unique,7504,849,14,1,914,10,8
top,"Pangsapuri Mutiara Magna, Metro Prima, Kepong",RM 300 000,CHERAS,Apartments,650 sq.ft.,3 Bedrooms,2 Bathrooms
freq,5,257,2705,7791,524,5765,6169

> Handle missing, incorrect and invalid data

In [ ]:
# check if there is any null value in each column
df.isnull().sum()

Title        0
Price        0
Area         0
Category     0
Size         0
Bedrooms     0
Bathrooms    0
dtype: int64



> As shown above, there is no null value in our table. Hence, we are not required to remove any rows which contain the Null value. Next, we will be dropping the duplicate rows

In [ ]:
df.shape[0]

7791

> The original dataframe has 7791 rows

In [ ]:
df[df.duplicated()].shape[0]

77

> From the output above, we can notice that there are 77 duplicated rows

In [ ]:
#removing duplicated rows
df = df.drop_duplicates()

In [ ]:
df.shape[0]

7714



> The number of rows after dropping duplicated rows is 7714.

In [ ]:
#print the number of unique value in each column
for col in df:
  print(col, ' : ', df[col].nunique())

Title  :  7504
Price  :  849
Area  :  14
Category  :  1
Size  :  914
Bedrooms  :  10
Bathrooms  :  8

We can notice that the category column only has one unique value. So, we will drop the column in our next code.

In [ ]:
df.drop('Category', axis=1, inplace=True)

In [ ]:
df.shape[1]

6

After dropping the column, We have 6 columns left.


**Data Parsing for each columns**

Since some of data are useful for numerical analysis, we convert them into integer data type.

In [ ]:
df['Price'].replace('RM', '', regex=True, inplace=True) #remove the currency unit 
df['Price'].replace(' ', '', regex=True, inplace=True)  #remove blank space
df['Price'] = df['Price'].astype(str).astype(int)       #convert the datatypes to integer
df = df.rename(columns={'Price' : 'Price(RM)'})         #rename the column

In [ ]:
df['Size'].replace('sq.ft.', '', regex=True, inplace=True) #remove the size unit 
df['Size'].replace(' ', '', regex=True, inplace=True)      #remove blank space
df['Size'] = df['Size'].astype(str).astype(int)            #convert the datatypes to integer
df = df.rename(columns={'Size' : 'Size(sq.ft.)'})          #rename the column

In [ ]:
df['Bedrooms'].unique()

array(['2 Bedrooms', '3 Bedrooms', '4 Bedrooms', '1 Bedroom',
       '5 Bedrooms', '8 Bedrooms', '6 Bedrooms', '9 Bedrooms',
       'More than 10 Bedroom', '7 Bedrooms'], dtype=object)

In [ ]:
df['Bedrooms'].replace('Bedrooms', '', regex=True, inplace=True) #remove the unit 
df['Bedrooms'].replace('Bedroom', '', regex=True, inplace=True)  #remove the unit 
df['Bedrooms'].replace('More than', '', regex=True, inplace=True)#remove the unnecessary wording 
df['Bedrooms'].replace(' ', '', regex=True, inplace=True)        #remove blank space
df['Bedrooms'] = df['Bedrooms'].astype(str).astype(int)          #convert the datatypes to string

In [ ]:
df['Bathrooms'].unique()

array(['2 Bathrooms', '1 Bathroom', '4 Bathrooms', '3 Bathrooms',
       '5 Bathrooms', '6 Bathrooms', '10 Bathrooms', '7 Bathrooms'],
      dtype=object)

In [ ]:
df['Bathrooms'].replace('Bathrooms', '', regex=True, inplace=True) #remove the unit 
df['Bathrooms'].replace('Bathroom', '', regex=True, inplace=True)  #remove the unit 
df['Bathrooms'].replace(' ', '', regex=True, inplace=True)         #remove blank space
df['Bathrooms'] = df['Bathrooms'].astype(str).astype(int)          #convert the datatypes to string

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7714 entries, 0 to 7790
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         7714 non-null   object
 1   Price(RM)     7714 non-null   int64
 2   Area          7714 non-null   object
 3   Category      7714 non-null   object
 4   Size(sq.ft.)  7714 non-null   int64
 5   Bedrooms      7714 non-null   int64
 6   Bathrooms     7714 non-null   int64
dtypes: int64(4), object(3)
memory usage: 482.1+ KB

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**Descriptive Statistics**

In [ ]:
df.describe()

NameError: ignored

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to E-learning